RedirectMatch 404 /.git
ErrorDocument 404 /error_pages/404.html
RedirectMatch 404 ^/php/?$
RedirectMatch 404 /.env
RedirectMatch 404 vendor/
RedirectMatch 404 composer.lock
RedirectMatch 404 composer.json
RedirectMatch 404 composer.phar
RedirectMatch 404 composer-setup.php 
