@media (max-width: 680px) {
  .topbar-h3 {
    visibility: hidden;
  }
}

img {
    max-width: 100%;
    height: auto
}

.home {
    margin: 0;
    background-image: url('/static/backround.avif'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed
}

a {
    text-decoration: none;
    color: inherit;
        text-shadow:
        0 0 7px #ffd1dc,
        0 0 14px #ffd1dc
}

h1 {
    color: #b2e1ff; text-shadow: 0 0 7px #d0b2ff, 0 0 14px #ffd1dc;
}

.github {
<<<<<<< HEAD
    float: right; height: 40px; width: 40px; background-image: url(static/github_invertocat_black.jpg); background-size: contain; background-repeat: no-repeat
=======
    float: right; height: 40px; width: 40px; background-image: url(static/github_invertocat_black.avif); background-size: contain; background-repeat: no-repeat
>>>>>>> c522d0f9802a04798c2babd51d3897dc7a33ccf3
}

.instagram {
    float: right; height: 40px; width: 40px; background-image: url(static/instagram.avif); background-size: contain; background-repeat: no-repeat; padding-left: 5px
}
.topbar {
    min-height: 40px; padding: 10px 15px; background: #ffd1dc; border-bottom: 5px #d0b2ff solid; background-attachment: scroll
}

.topbar-h3 {
    float: left; margin-left: 50px;  margin-top: 10px; color: #71368a; position: absolute
}

.topbar-h3-right {
    color: #71368a;
    float: right; padding: 0px 8px;  margin-top: 10px
    
}

.icon {
    float: left;
}

.topmenu {
    padding-top: 1px;
        text-decoration: none;
    color: inherit;
        text-shadow:
        0 0 7px #71368a,
        0 0 14px #71368a
}

.main {
    margin-left: 10%; margin-right: 10%; margin-top: 10px;
    background-color: #00000070;
    border: solid 2px #d0b2ff; /*border-top: transparent;*/ border-radius: 12px;/*border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;*/ padding: 5px;
    color: #b2e1ff
}

.bottom-bar {
    border-top: 50px #d0b2ff; background-color: #00000080; 
    text-align: center; color: #b2e1ff
}

.error {
    margin-left: 10%; margin-right: 10%; margin-top: 10px;
    background-color: #00000070;
    border: solid 2px #ff0000; border-radius: 12px; padding: 5px
}

p {
    padding: 4px; background-color: #00000020; color: #b2e1ff; border-radius: 12px;
    /*width: 60%;*/
    text-align: left
}

h2 {
    padding: 4px; background-color: #00000020;
    color:#b2e1ff; border-radius: 12px;
    text-align: center
}

.sidebartext {
        padding: 4px; background-color: #00000020; color: #b2e1ff; border-radius: 12px;

        text-anchor: left;
        position: sticky;
        position-anchor: left;
}

.mainsidebar {
    float: right; padding-right: 5px; border: solid 2px #d0b2ff;border-radius: 12px; background-color: transparent;
    padding-bottom: 100px;
    padding-left: 100px;
    text-align: left;
}

.gallery {
    margin: 0;
}

.background-blur {
    margin: 0;
background-image: url('/static/backround-blur.avif'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed
}

.music-images {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center
}

.text-centerd {
    text-align: center
}